* {
    margin: 0;
    padding: 0;
  }
  .logo{
    color: rgb(16, 41, 90);
    font-size: 2rem;
    padding-right: 10%;
    font-family:cursive
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    position: fixed;
    top: 0px;
    color: rgb(41, 38, 38);
    width: 100%;
    background-color: rgb(199, 205, 218);
  }
  .nav-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-transform: uppercase;
  }
  .hero {
    background-image: url("../img/world.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
  }
  .hero h1 {
    font-size: 4rem;
    color: white;
  }
  .hero p {
    font-size: 18px;
    color: white;
  }
  .hero-buttons {
    display: flex;
    gap: 7px;
    font-size: 18px;
  }
  .hero-buttons :first-child {
    background-color: rgb(16, 41, 90);
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 20px;
  }
  .hero-buttons :last-child {
    background-color: transparent;
    padding: 20px 20px;
    color: white;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
  }
  .feature{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 7rem 10rem;
      row-gap: 4rem;
      align-items: center;
  }
  .feature img{
  width: 500px;
  border-radius: 20px;
  }
  .feature-text{
      width: 70%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;      
  }
  .feature-two{
    background-color: rgb(199, 205, 218);
  }
  .feature-text button{
    background-color: rgb(16, 41, 90);
    font-size: 18px;
    border: none;
    padding: 20px 20px;
    text-transform:uppercase ;
    color: white;
    width: fit-content;
    border-radius: 20px;
  }
  .feature-text h2{
    font-size: 2.5rem;
  }
  .feature-three {
    background-image: url("../img/pexels-samandgos-709552.jpg");
    background-attachment: fixed;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
  .feature-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
  }
  .feature-three h1 {
    font-size: 4rem;
    color: white;
  }
  .feature-overlay p {
    /* font-size: 18px; */
    color: white;
    width: 70%;
    text-align: center;
  }
 .feature-overlay button{
    background-color: rgb(16, 41, 90);
    padding: 20px;
    color: white;
    border: none;
    border-radius: 20px;
}
.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
    background-color: rgb(199, 205, 218);
    padding-top: 80px;
}
.paragraph h1{
    color: black;
    font-size: 2rem;
}
.paragraph p{
    width: 70%;
    text-align: center;
    color: black;
}
.paragraph button{
    background-color: rgb(16, 41, 90);
    padding: 20px;
    color: white;
    border: none;
    border-radius: 20px;
}

.image-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 205, 218);
}
.image-feature img{
    padding-top: 2.5%;
    height: 140vh;
    width: 85vw;  
}
.paragraph-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: rgb(20, 26, 41);
    height: 35vh;
    width: 100vw; 
}
.paragraph-two h1{
    color: white;
}
.paragraph-two p{
    color: white;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(4,337px);
    background-color: black;
}
.item1{
background: url(../img/1.jpg);
}
.item2{
    background: url(../img/2.jpg);
}
.item3{
    background: url(../img/3.jpg);
}
.item4{
    background: url(../img/4.jpeg);
}
.item5{
    background: url(../img/5.webp);
}
.item6{
    background: url(../img/6.jpeg);
}
.item7{
    background: url(../img/7.jpeg);
}
.item8{
    background: url(../img/8.jpg);
}
.item9{
    background: url(../img/9.jpeg);
}
.item10{
    background: url(../img/10.jpeg);
}
.item11{
    background: url(../img/11.webp);
}
.item12{
    background: url(../img/12.jpeg);
}
                                                                                    
                                                                                   
                                                                                    
    
